$sz = 40px
.c-fab
  position sticky 
  z-index 1000 
  width 0 !important
  height 0 !important
  overflow visible
  top 290px
  button
    width $sz !important
    height $sz
    box-shadow 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05) !important