.c-footer
  margin-top $mgn
  width 100%
  z-index 1
  li
    list-style none
  a
    color var(--bs-gray-600)
  .navbar-brand
    pos-rel()
    &-name
      p3()
      pos-abs()
      top 10px
      left 60px