.c-headerBadges 
  span 
    pos-rel()
    padding 8px
    display inline-block
    margin-right 3px
    &.badge
      &--located_in
        padding-right 30px
  img 
    pos-abs()
    top 5px
    right 8px