.c-headerBadges 
  span 
    pos-rel()
    p5()
    padding 5px 9px
    display inline-block
    margin-right 3px
    &.badge
      &--located_in
        padding-right 30px
  img 
    pos-abs()
    top 8px
    right 8px