.c-headerBadges
  &__main 
    span 
      pos-rel()
      p5()
      padding 3px 12px
      display inline-block
      margin-right 3px
      &.badge
        &--located_in
          padding-right 30px
    img 
      pos-abs()
      top 5px
      right 8px