NEXT_PUBLIC_APP_NAME='Senotype Library'

NEXT_PUBLIC_INGEST_API_BASE=https://ingest-api.dev.sennetconsortium.org/
NEXT_PUBLIC_ENTITY_API_BASE=https://entity.api.sennetconsortium.org/
NEXT_PUBLIC_LOGIN_URL="${NEXT_PUBLIC_INGEST_API_BASE}senotype-library-login"
NEXT_PUBLIC_SEARCH_API_BASE=https://search-api.dev.sennetconsortium.org/
NEXT_PUBLIC_ONTOLOGY_API_BASE=https://ontology-api.dev.hubmapconsortium.org/
NEXT_PUBLIC_PORTAL_URL=https://data.sennetconsortium.org/
NEXT_PUBLIC_EDITOR_URL=https://seneditor.dev.sennetconsortium.org/

NEXT_PUBLIC_LOG_LEVEL='debug'

NEXT_PUBLIC_INDEX_SENOTYPE='senotypes'

NEXT_PUBLIC_ONTOLOGY_CODES='{"specimen_categories":"C020076","organ_types": {"path": "organs?application_context=SENNET"}, "entities": "C000012", "source_types":"C050020", "dataset_types": {"path": "dataset-types?application_context=SENNET"}}'
NEXT_PUBLIC_ONTOLOGY_VALUESET_PATH='valueset?parent_sab=SENNET&parent_code={code}&child_sabs=SENNET'

NEXT_PUBLIC_OBO_BASE_URL='https://purl.obolibrary.org/obo/'
NEXT_PUBLIC_CL_HOME_URL='https://www.ebi.ac.uk/ols4/ontologies/cl?tab=classes'
NEXT_PUBLIC_DOID_HOME_URL='https://disease-ontology.org'
NEXT_PUBLIC_HGNC_BASE_URL='https://www.genenames.org/data/gene-symbol-report/#!/hgnc_id/'
NEXT_PUBLIC_HGNC_HOME_URL='https://www.genenames.org/'
NEXT_PUBLIC_UNIPROTKB_BASE_URL='https://www.uniprot.org/uniprotkb/'

NEXT_PUBLIC_PUBMED_BASE_URL='https://pubmed.ncbi.nlm.nih.gov/'

NEXT_PUBLIC_SCICRUNCH_BASE_URL='https://scicrunch.org/resolver/'
NEXT_PUBLIC_SCICRUNCH_EXPLORE_URL='https://rrid.site/'
NEXT_PUBLIC_SCICRUNCH_HIGHER_URL='https://scicrunch.org/scicrunch/resolver/'

NEXT_PUBLIC_NIH_PUBMED_API_URL='https://eutils.ncbi.nlm.nih.gov/entrez/eutils/esummary.fcgi?db=pubmed&retmode=json'

NEXT_PUBLIC_OTHER_ORGAN_ICON_URL = 'https://cdn.jsdelivr.net/gh/cns-iu/md-icons@main/other-icons/organs/ico-organs-united.svg'

NEXT_PUBLIC_COOKIE_DOMAIN=.sennetconsortium.org