NEXT_PUBLIC_APP_NAME = 'Senotype Editor'

NEXT_PUBLIC_INGEST_API_BASE = http://localhost:5555/
NEXT_PUBLIC_LOGIN_URL = ${NEXT_PUBLIC_INGEST_API_BASE}login
NEXT_PUBLIC_SEARCH_API_BASE = https://search.api.sennetconsortium.org/
NEXT_PUBLIC_ONTOLOGY_API_BASE = https://ontology.api.hubmapconsortium.org/
NEXT_PUBLIC_LOG_LEVEL = debug

NEXT_PUBLIC_ONTOLOGY_VALUESET_PATH = 'valueset?parent_sab=SENNET&parent_code={code}&child_sabs=SENNET'
NEXT_PUBLIC_ONTOLOGY_CODES = '{"specimen_categories":"C020076","organ_types": {"path": "organs?application_context=SENNET"}, "entities": "C000012", "source_types":"C050020", "dataset_types": {"path": "dataset-types?application_context=SENNET"}}'

SENOTYPE_DB_USER=''
SENOTYPE_DB_PWD=''
SENOTYPE_DB_NAME=''
SENOTYPE_DB_HOST=''

NEXT_PUBLIC_INDEX_SENOTYPE = 'senotype'