$col-dirty-white = #f5f5f5
$col-lgt-grey = #eee
$col-dk-grey = #333
$col-xlgt-grey = #fafafa
$col-alto = #ddd
$col-bali-hai = #8b9bad
$col-grey = #888
$col-emp-grey = #4f4f4f
$col-sennet-grey = #505250
$col-alabaster-grey = #f8f8f8
$col-chalice = #aaa
$col-malibu = #6ac6ff
$col-primary-blue = #0d6efd
$col-primary-accent = #fbddf1
$col-secondary-accent = #d63384
$col-dull-purple = #9b7ba2

$col-warn = orange
$col-err = red
$col-good = #2fc92f